<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Détails de votre réservation :</h1>

		<p>Date :
			{{ booking.date }}</p>
		<p>Heure :
			{{ booking.hour }}</p>
		<p>Nombre de personnes :
			{{ booking.nbrOfPerson }}</p>
		<p>Nom :
			{{ booking.lastname }}</p>
		<p>Prénom :
			{{ booking.firstname }}</p>
		<p>Email :
			{{ booking.email }}</p>
		<p>Téléphone :
			{{ booking.phone }}</p>
		<p>Allergies :
			{{ booking.allergies }}</p>

		<p>Vous constatez une erreur ? Vous souhaitez modifier ou annuler votre réservation ? Appelez nous !</p>
	</body>
</html>
